<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>279263165634-2hdc17vn9embl16nlc2jp755tilldctn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279263165634-2hdc17vn9embl16nlc2jp755tilldctn</string>
	<key>API_KEY</key>
	<string>AIzaSyAWZqMzG5u0HGm4jvAOD1V5_6C3qHUkpYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>279263165634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.achalkias.MySocialApp</string>
	<key>PROJECT_ID</key>
	<string>my-social-app-c81b0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-social-app-c81b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:279263165634:ios:2d82ba05b8147de8</string>
	<key>DATABASE_URL</key>
	<string>https://my-social-app-c81b0.firebaseio.com</string>
</dict>
</plist>